@import "../../mixins.scss";
button{
    background: transparent;
    border: none;
    width: 80px;
    padding:5px;
    @include md {
        width: 70px;
        margin-right: 26px;
    }
    img{
        width:65px;
        margin-right: 5px;
        @include md {
            width: 85px;
           
        }
    }
}